---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import StyleBarsLayout from "../layouts/StyleBarsLayout.astro";
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <StyleBarsLayout>
    <div class="grid grow grid-cols-1 sm:grid-cols-2">
      <section
        class="flex flex-col items-center bg-[#F8D1D1] p-4 md:p-6 lg:p-8 xl:p-10 2xl:p-12"
      >
        <div
          class="flex w-full max-w-[570px] flex-col gap-4 text-nowrap text-base lg:gap-6 lg:text-lg xl:text-xl"
        >
          <h1 class="my-2 font-serif text-3xl font-bold xl:text-4xl">
            Contact
          </h1>
          <div
            class="flex flex-col gap-2 divide-y divide-dashed divide-black/5"
          >
            <div class="flex justify-between">
              <p>Owner:</p><p>Phillip Shain</p>
            </div>
            <div class="flex justify-between">
              <p>Email:</p><a
                href="mailto: pinkpuffinbicycles@gmail.com"
                target="_blank"
                class="underline">pinkpuffinbicycles@gmail.com</a
              >
            </div>
            <div class="flex justify-between">
              <p>Phone:</p><a href="tel:4159373553" target="_blank"
                >415-937-3553</a
              >
            </div>
            <div class="flex justify-between">
              <p>Address:</p><p>
                3484 Sacramento Street<br />San Francisco, CA 94118
              </p>
            </div>
          </div>
          <h1 class="my-2 font-serif text-3xl font-bold xl:text-4xl">Hours</h1>
          <div
            class="flex flex-col gap-2 divide-y divide-dashed divide-black/5"
          >
            <div class="flex justify-between">
              <p>Monday:</p><p>10:00AM - 4:00PM</p>
            </div>
            <div class="flex justify-between">
              <p>Tuesday:</p><p>10:00AM - 4:00PM</p>
            </div>
            <div class="flex justify-between">
              <p>Wednesday:</p><p>closed</p>
            </div>
            <div class="flex justify-between">
              <p>Thursday:</p><p>10:00AM - 4:00PM</p>
            </div>
            <div class="flex justify-between">
              <p>Friday:</p><p>10:00AM - 4:00PM</p>
            </div>
            <div class="flex justify-between">
              <p>Saturday:</p><p>10:00AM - 2:00PM</p>
            </div>
            <div class="flex justify-between">
              <p>Sunday:</p><p>10:00AM - 2:00PM</p>
            </div>
          </div>
        </div>
      </section>
      <section
        class="flex flex-col bg-black p-4 md:p-6 lg:p-8 xl:p-10 2xl:p-12"
      >
        <iframe
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src=`https://www.google.com/maps/embed/v1/place?key=${import.meta.env.API_KEY}
        &q=ink+Puffin+Bicycles,San+Francisco,CA&zoom=13`
          class="aspect-square w-full grow border border-yellow-500 sm:aspect-auto"
        >
        </iframe>
      </section>
    </div>
  </StyleBarsLayout>
</BaseLayout>
