---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Contact</p>
  <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src=`https://www.google.com/maps/embed/v1/place?key=${import.meta.env.API_KEY}
    &q=Space+Needle,Seattle+WA`
  >
  </iframe>
</BaseLayout>
