---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import shopBike from "../assets/shopBike.webp";
import ppText from "../assets/ppText.svg";
import bicyclesText from "../assets/bicyclesText.svg";
const pageTitle = "PinkPuffinBicycles";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="relative flex items-center justify-center">
    <div
      id="modal"
      class="absolute z-10 mt-1 flex aspect-[5/4] w-5/6 flex-col items-center gap-5 bg-black/60 p-4 transition-opacity duration-500 hover:opacity-0"
    >
      <Image
        src={ppText}
        alt="Pink Puffin text"
        loading="eager"
        class="w-3/4 flex-none"
      />
      <Image
        src={bicyclesText}
        alt="bicycles text"
        loading="eager"
        class="w-3/5 flex-none"
      />
      <div
        class="my-1 flex grow flex-col justify-between text-center text-[3vw] font-thin text-white"
      >
        <p>
          San Francisco&#39;s premier bicycle shop specializing in quality
          bicycle repair and service with exquisite stock and custom bicycles.
        </p>
        <p>pinkpuffinbicycles@gmail.com</p><p>415-937-3553</p>
      </div>
    </div>

    <Image
      src={shopBike}
      alt="Pink Puffin shop bicycle"
      loading="eager"
      class="relative"
    />
  </div>
</BaseLayout>
