---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import shopBike from "../assets/shopBike.webp";
import ppText from "../assets/ppText.svg";
import bicyclesText from "../assets/bicyclesText.svg";
const pageTitle = "PinkPuffinBicycles";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="relative flex items-center justify-center">
    <div
      class="absolute z-10 flex h-5/6 w-5/6 flex-col items-center gap-5 bg-black/60 p-4"
    >
      <Image src={ppText} alt="Pink Puffin text" class="w-3/4 flex-none" />
      <Image src={bicyclesText} alt="bicycles text" class="w-3/5 flex-none" />
      <div
        class="flex grow flex-col justify-between text-center text-[3vw] font-thin text-white"
      >
        <p>
          San Francisco&#39;s premier bicycle shop specializing in quality
          bicycle repair and service with exquisite stock and custom bicycles.
        </p>
        <p>pinkpuffinbicycles@gmail.com</p><p>415-937-3553</p>
      </div>
    </div>

    <Image src={shopBike} alt="Pink Puffin shop bicycle" class="relative" />
  </div>
</BaseLayout>
