---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import shopBike from "../assets/shopBike.webp";
import ppText from "../assets/ppText.svg";
import bicyclesText from "../assets/bicyclesText.svg";
const pageTitle = "PinkPuffinBicycles";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    id="hero"
    class="relative flex max-w-[1280px] grow flex-col items-center justify-center lg:p-6 xl:p-10"
  >
    <div
      id="modal"
      class="group absolute z-10 flex h-2/3 max-h-fit min-h-72 w-5/6 max-w-[600px] flex-col items-center justify-around bg-black/60 px-2 py-4 text-center text-base font-thin text-white sm:gap-6 sm:py-6 sm:text-lg md:px-4 md:py-8 md:text-2xl md:hover:bg-transparent lg:px-6 lg:py-10"
    >
      <div
        class="flex w-full flex-col items-center justify-between gap-5 transition-opacity duration-500 ease-linear md:group-hover:opacity-0"
      >
        <Image
          src={ppText}
          alt="Pink Puffin text"
          loading="eager"
          class="w-4/5"
        />
        <Image
          src={bicyclesText}
          alt="bicycles text"
          loading="eager"
          class="w-2/5"
        />
      </div>

      <p
        class="transition-opacity duration-500 ease-linear md:group-hover:opacity-0"
      >
        San Francisco&#39;s premier bicycle shop specializing in quality bicycle
        repair and service with exquisite stock and custom bicycles. Experience
        it here.
      </p>
      <a
        href="mailto: pinkpuffinbicycles@gmail.com"
        target="_blank"
        class="underline decoration-1 underline-offset-2 md:group-hover:bg-black md:group-hover:text-[#EC6FA7]"
        >pinkpuffinbicycles@gmail.com</a
      ><a
        href="tel:4159373553"
        target="_blank"
        class="underline decoration-1 underline-offset-2 md:group-hover:bg-black md:group-hover:text-[#EC6FA7]"
        >415-937-3553</a
      >
    </div>

    <Image
      id="hero-image"
      src={shopBike}
      alt="Pink Puffin shop bicycle"
      loading="eager"
      class="relative grow object-cover xl:max-h-[1000px]"
    />
  </div>
  <script>
    document.querySelector("#hero-image").addEventListener("click", () => {
      const modal = document.querySelector("#modal");
      if (modal.classList.contains("hidden")) {
        modal.classList.remove("hidden");
        modal.classList.add("flex");
      } else {
        modal.classList.remove("flex");
        modal.classList.add("hidden");
      }
    });
  </script>
</BaseLayout>
