---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import { Image } from "astro:assets";
import shopBike from "../assets/shopBike.webp";
import logoText2 from "../assets/logoText2.svg";
import bicyclesText2 from "../assets/bicyclesText2.svg";
const pageTitle = "PinkPuffinBicycles";
---

<BaseLayout pageTitle={pageTitle}>
  <Banner />
  <div
    id="hero"
    class="relative flex max-w-[1280px] grow flex-col items-center justify-center lg:p-6 xl:p-10"
  >
    <div
      id="modal"
      class="group absolute z-10 flex h-2/3 max-h-fit min-h-72 w-5/6 max-w-[600px] flex-col items-center justify-around bg-black/60 px-2 py-4 text-center text-base font-thin text-white sm:gap-4 sm:py-6 sm:text-lg md:px-4 md:py-8 md:text-2xl md:hover:bg-transparent lg:px-6 lg:py-10"
    >
      <div
        id="modal-images"
        class="flex w-full flex-col items-center justify-between gap-5 transition-opacity duration-500 ease-linear md:group-hover:opacity-0"
      >
        <Image
          src={logoText2}
          alt="Pink Puffin text"
          loading="eager"
          class="w-4/5"
        />
        <Image
          src={bicyclesText2}
          alt="bicycles text"
          loading="eager"
          class="w-2/5"
        />
      </div>

      <p
        id="modal-text"
        class="transition-opacity duration-500 ease-linear md:group-hover:opacity-0"
      >
        San Francisco&#39;s premier bicycle shop specializing in quality bicycle
        repair and service with exquisite stock and custom bicycles. Experience
        it here.
      </p>
      <a
        id="modal-email"
        href="mailto: pinkpuffinbicycles@gmail.com"
        target="_blank"
        class="underline decoration-1 underline-offset-2 md:group-hover:bg-black md:group-hover:text-[#EC6FA7]"
        >pinkpuffinbicycles@gmail.com</a
      ><a
        id="modal-phone"
        href="tel:4159373553"
        target="_blank"
        class="underline decoration-1 underline-offset-2 md:group-hover:bg-black md:group-hover:text-[#EC6FA7]"
        >415-937-3553</a
      >
    </div>

    <Image
      id="hero-image"
      src={shopBike}
      alt="Pink Puffin shop bicycle"
      loading="eager"
      class="relative grow object-cover xl:max-h-[1000px]"
    />
  </div>
  <script>
    const modal = document.querySelector("#modal");
    const modalImages = document.querySelector("#modal-images");
    const modalText = document.querySelector("#modal-text");
    const modalEmail = document.querySelector("#modal-email");
    const modalPhone = document.querySelector("#modal-phone");

    modalEmail.addEventListener("click", (e) => {
      e.stopPropagation();
    });
    modalPhone.addEventListener("click", (e) => {
      e.stopPropagation();
    });

    modal.addEventListener("click", () => {
      if (modal.classList.contains("max-md:bg-transparent")) {
        modal.classList.remove("max-md:bg-transparent");
        modalImages.classList.remove("max-md:opacity-0");
        modalText.classList.remove("max-md:opacity-0");
        modalEmail.classList.remove("max-md:bg-black", "max-md:text-[#EC6FA7]");
        modalPhone.classList.remove("max-md:bg-black", "max-md:text-[#EC6FA7]");
      } else {
        modal.classList.add("max-md:bg-transparent");
        modalImages.classList.add("max-md:opacity-0");
        modalText.classList.add("max-md:opacity-0");
        modalEmail.classList.add("max-md:bg-black", "max-md:text-[#EC6FA7]");
        modalPhone.classList.add("max-md:bg-black", "max-md:text-[#EC6FA7]");
      }
    });
  </script>
</BaseLayout>
