<!-- <div
  id="banner"
  class="flex h-10 w-full items-center justify-center border-b-2 border-yellow-500 bg-[#EC6FA7] text-center font-mono text-xs md:text-sm"
>
  <a href="https://en.wiktionary.org/wiki/puffling" target="_blank">
    temporarily closed for paternity leave! <br /> until end of January &lt;3
  </a>
</div> --><!-- <div
  id="banner"
  class="bg-gradient flex h-10 w-full items-center justify-center border-b-2 border-yellow-500 bg-white text-center font-mono text-xs font-extrabold md:text-sm"
>
  <a href="https://vantacycling.com/" target="_blank">
    VANTA CYCLING clothing in store now =&gt;
  </a>
</div> -->
<div
  id="banner"
  class="bg-gradient flex h-10 w-full flex-col items-center justify-center border-b-2 border-yellow-500 bg-white text-center font-mono text-xs font-extrabold md:text-sm"
>
  <small class="text-xs"> Pinehurst x VANTA x Pink Puffin </small>
  <a href="https://www.instagram.com/p/DLqtJiPJgfJ/" target="_blank">
    Pinehurst Road Launch + Happy Hour Ride =&gt;
  </a>
</div>
