<div
  id="banner"
  class="flex h-10 w-full items-center justify-center border-b-2 border-yellow-500 bg-pink-400 text-center font-mono text-xs md:text-sm"
>
  <a href="https://en.wiktionary.org/wiki/puffling" target="_blank">
    temporarily closed for paternity leave! <br /> until end of January &lt;3
  </a>
</div>
