<button
  id="hamburger"
  class="flex h-20 w-20 flex-none flex-col justify-center gap-2 border-l border-white/10 p-5 md:hidden"
>
  <span
    id="hamburger-top"
    class="h-1 w-full rounded-sm bg-white transition-transform"></span>
  <span
    id="hamburger-mid"
    class="h-1 w-4/5 rounded-sm bg-white opacity-100 transition-opacity"></span>
  <span
    id="hamburger-bot"
    class="h-1 w-full rounded-sm bg-white transition-transform"></span>
</button>
