---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="bg-black">
  <div class="h-20">
    <Image src={logo} alt="Pink Puffin Logo" class="w-16" />
  </div>
  <menu> </menu>
</header>
