---
import { Image } from "astro:assets";
import logoIcon from "../assets/logoIcon.svg";
import logoFullTextCol from "../assets/logoFullTextCol.svg";
import logoFullTextRow from "../assets/logoFullTextRow.svg";
import Menu from "../components/Menu.astro";
import Hamburger from "../components/Hamburger.astro";

const { pageTitle } = Astro.props;
---

<!-- Header -->
<header
  class="box-content flex h-20 flex-none border-b-2 border-yellow-500 bg-black md:h-28 md:flex-col"
>
  <!-- Logo -->
  <a
    class="flex max-w-fit flex-none items-center gap-3.5 sm:pl-1 md:h-20 lg:pl-3"
    href="/"
  >
    <Image
      src={logoIcon}
      loading="eager"
      alt="Pink Puffin icon"
      class="ml-2.5 h-14 w-14 transition-transform hover:rotate-45"
    />
    <div class="flex w-32 pt-1.5 sm:w-80">
      <Image
        src={logoFullTextCol}
        alt="Pink Puffin text col"
        loading="eager"
        class="sm:hidden"
      />
      <Image
        src={logoFullTextRow}
        alt="Pink Puffin text row"
        loading="eager"
        class="hidden sm:block"
      />
    </div>
  </a>
  <!-- Sidebar -->
  <div
    class="absolute right-0 z-20 flex max-h-svh flex-col items-end md:static md:grow"
  >
    <Hamburger />
    <Menu pageTitle={pageTitle} />
  </div>
</header>
