---

---

<nav id="menu" class="flex text-white">
  <a href="/custom">Custom Bikes</a>
  <a href="/brands/">Bike Brands</a>
  <a href="/fitting/">Bike Fitting</a>
  <a href="/kidsbikes/">Kids' Bikes</a>
  <a href="/services/">Services</a>
  <a href="/about/">About</a>
  <a href="/contact/">Contact</a>
</nav>
