---

---

<div
  class="prose prose-p:text-base prose-p:xl:text-lg prose-h1:my-4 prose-h1:font-bold prose-p:my-2 prose-h1:font-serif prose-h1:text-3xl flex w-full max-w-[96%] flex-col md:max-w-[70%] xl:max-w-[65%]"
>
  <slot />
</div>
