---

---

<div
  class="prose flex w-full max-w-[96%] flex-col prose-h1:my-4 prose-h1:font-serif prose-h1:text-3xl prose-h1:font-bold prose-p:my-2 prose-p:text-base prose-hr:m-0 prose-hr:border-dashed prose-hr:border-black md:max-w-[70%] xl:max-w-[65%] prose-h1:xl:text-4xl prose-p:xl:text-lg"
>
  <slot />
</div>
