---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html
  lang="en"
  class="relative m-0 min-h-svh w-full min-w-72 overflow-y-scroll bg-black p-0"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/logoIcon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="m-0 flex h-full min-h-[80svh] w-full flex-col p-0 lg:min-h-svh">
    <Header pageTitle={pageTitle} />
    <main class="flex flex-1 flex-col items-center">
      <slot />
    </main>
    <Footer />
    <script src="../scripts/hamburgerScript.js"></script>
  </body>
</html>
