---
import Prose from "../components/Prose.astro";
import { Image } from "astro:assets";
const { images, pageTitle } = Astro.props;
const tw = (strings, ...values) => String.raw({ raw: strings }, ...values);

let imageColumnClasses = tw`flex flex-col items-center gap-2 bg-black p-4 md:p-3 lg:gap-4 lg:p-6 xl:p-8 2xl:p-12`;

if (pageTitle === "Bike Brands") {
  imageColumnClasses = tw`flex flex-col items-center gap-2 bg-black p-4 md:p-3 lg:gap-4 lg:p-6 xl:p-8 2xl:grid 2xl:grid-flow-dense 2xl:grid-cols-2 2xl:place-items-center 2xl:p-12`;
}
---

<div class="flex grow flex-col">
  <div class="h-4 flex-none bg-gradient-to-r from-black to-[#F8D1D1]"></div>
  <div class="grid grow grid-cols-1 sm:grid-cols-2">
    <section
      class="flex flex-col items-center bg-[#F8D1D1] p-2 md:p-3 lg:p-8 xl:p-8 2xl:p-12"
    >
      <Prose>
        <slot />
      </Prose>
    </section>
    <section class={imageColumnClasses}>
      {
        images.map((element) => (
          <Image
            src={element.image}
            alt={element.alt}
            class="w-full max-w-96 xl:max-w-[69%] 2xl:max-w-[470px]"
          />
        ))
      }
    </section>
  </div>
  <div class="h-4 flex-none bg-gradient-to-r from-black to-[#F8D1D1]"></div>
</div>
