<div class="flex w-full grow flex-col">
  <div class="h-4 flex-none bg-gradient-to-r from-black to-[#F8D1D1]"></div>
  <slot />
  <div class="h-4 flex-none bg-gradient-to-r from-black to-[#F8D1D1]"></div>
</div>
